# Arquivos e diretórios Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.uv/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Arquivos de log
*.log

# Diretórios de dados locais
data/local/
data/raw/
data/processed/
data/interim/

# Arquivos de configuração local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
